@charset "utf-8";

.card_complete_title {
  font-size: 5.3vw;
  text-align: center;
  margin-top: 10.6vw;
}

.card_complete_regi {
  font-size: 3.2vw;
  margin: 5.3vw 0 5.3vw;
}

.card_complete_purch {
  font-size: 3.2vw;
  color: #7F5539;
  display: block;
  margin-bottom: 5.3vw;
}

.card_complete_inner {
  text-align: center;
  width: 78.7vw;
  height: 23vw;
  border: 2px solid #E8C2CA;
  margin: 21.3vw auto 101.3vw;
}