@charset "UTF-8";

.main_header {
  background-color: #D9D9D9;
  display: flex;
  width: 100vw;
}

.main_header img {
  width: 100vw;
}

.sub_header {
  margin-left: auto;
  display: flex;
}

.header_search {
  background-color: #b392ac;

}

form {
  border: 1px black solid;
  margin-left: auto;
}



form img {
  border: 1px black solid;
}

.search_flex {
  display: flex;
}