@charset "UTF-8";

html {
  overflow-x: hidden;
}



.main_header {
  background-color: #EDE0D4;
  display: flex;
  width: 100vw;
}

.header_logo_img {
  margin: 10px auto;
  text-align: center;
}

.header_main_logo {
  margin: 0 auto;
}



.header_sub_header {
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
}

.header_sub_header a {
  margin: 10px;
  transform: scale(0.8);
}

.header_search {
  /* background-color: #b392ac; */
  background-color: #EDE0D4;
  height: 60px;

}

.header_form {
  border: 1px #7f5539 solid;
}



.header_form img {
  border: 1px #7f5539 solid;
}

.header_search_flex {
  display: flex;
}

.header_search_btn {
  background-image: url(../images/search.svg);
  background-color: #D9D9D9;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -10000%;
  border: 1px #7f5539 solid;
}

#header_input_text {
  width: 100%;
  background-color: #fff;
}


.header_form {
  display: flex;
  width: 95vw;
  height: 37px;
  margin: 10px auto;

}



/* drawer menu*/
/* menu fixed */
.g_menu {
  /* 右上に固定・前面表示 */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
}

/* input 要素 チェックボックスを非表示 */
.menu_btn {
  display: none;
}

/* label 要素 アイコン作成 */
.menu_icon {
  /* 左上に絶対配置 */
  position: absolute;
  left: 8px;
  top: 10px;
  height: 25px;
  padding-right: 8.5px;
  padding-left: 8.5px;
  padding-top: 23px;
  border-radius: 50%;
  /* ポインターの形状 指 */
  cursor: pointer;
}

/* span 要素 中央の線作成 */
.navicon {
  /* ブロックレベルへ変更 */
  display: block;
  /* 線の長さ */
  width: 31px;
  /* 線の太さ */
  height: 2px;
  /* 線の色 */
  background: #7f5539;
  /* ::before と ::after の基準要素 */
  position: relative;
}

/* 上と下の線作成 上下共通 */
.navicon::before,
.navicon::after {
  content: "";
  width: 100%;
  height: 100%;
  background: #7f5539;
  /* 基準要素 span.navicon に対して絶対配置 */
  position: absolute;
  /* 三本線と X の切替えアニメーション 速く始まりゆっくり終わる */
  transition: all .4s ease-out;
}

/* 下の線のみ */
.navicon::before {
  /* 上からの位置 */
  top: 10px;
}

/* 上の線のみ */
.navicon::after {
  /* 上へ 10px の位置 */
  top: -10px;
}

/* ul 要素 メニュー */
.menu {
  background-color: rgba(127, 85, 57, 0.75);
  text-align: center;
  /* 非表示 */
  overflow: hidden;
  /* 最大の高さ */
  max-height: 0px;
  /* 非表示の際のアニメーション */
  transition: max-height 1.5s;


}

/* 1 つ目の li 要素 */
.menu li:first-of-type {
  padding-top: 120px;
}

.menu li:last-of-type {
  margin-bottom: 100vh;
}

/* a 要素 */
.menu a {
  display: block;
  font-size: 20px;
  font-weight: 700;
  padding: 16px 20px;
  color: #fff;
  text-align: start;
  margin-left: 20px;
  margin-right: 20px;
}

.drawer_textlink {
  border-bottom: 1px #fff solid;
  margin-right: 20px;
  margin-left: 20px;
}


hr {
  width: 95vw;
  margin: 0 auto;
}

/* ↓チェックボックスが ON の場合 */
/* 非表示にしていた ul.menu を表示 */
.menu_btn:checked~.menu {
  max-height: 100vh;
  /* 元 0px */
  /* 表示の際のアニメーション */
  transition: max-height 1.5s;
}


/* 中央の線を非表示 */
.menu_btn:checked~.menu_icon .navicon {
  background: transparent;
  /* 元 #333 */
}

/* 上下の線を 45 度傾けて X アイコンを作成 */
.menu_btn:checked~.menu_icon .navicon::before {
  /* 反時計回りに回転 */
  transform: rotate(-45deg);
  top: 0;
  width: 100%;
  left: 0;
  background-color: #fff;
  /* 元 10px */
}

.menu_btn:checked~.menu_icon .navicon::after {
  /* 時計回りに回転 */
  transform: rotate(45deg);
  background-color: #fff;
  top: 0;
  width: 100%;
  left: 0;
  /* 元 -10px */
}

.drawer_img {
  position: relative;
  top: 0;
  left: 90%;
  width: 60px;
  height: 60px;
}


/* フッター */


footer {
  background-color: #EDE0D4;
}

.footer_link {
  padding-top: 10px;
  margin-left: 20px;
}

.footer_sns {
  display: flex;
  width: 50vw;
  margin-left: 10px;
}

.footer_sns li {
  padding: 10px;
}

.footer_nav_text {
  padding: 5px 0;
  border-left: 3px solid #b392b3;
  margin: 20px 10px;
  width: 300px;
  color: #7f5539;
  padding-left: 20px;
}

.footer_icon {
  width: 32px;
  height: 32px;
}

.footer_logo_area {
  width: 100vw;
  text-align: end;
}

.footer_logo {
  margin: 20px;
}


.footer_text {
  text-align: center;
  padding: 20px;
  font-size: 8px;
  color: #7f5539;
}


.loading {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  object-fit: cover;
  z-index: 1000;
  width: 100vw;
  height: 100vh;
  animation: loading_anime 3s linear;
}

@keyframes loading_anime {
  0% {
    opacity: 1;
  }

  25% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  50% {
    opacity: 1;
  }

  75% {
    clip-path: polygon(100% 0, 100% 0, 100% 0, 0 100%);
  }

  100% {
    clip-path: polygon(0 100%, 0 100%, 100% 0, 0 100%);
    opacity: 0;
  }

  /* 15% {
    clip-path: ellipse(1500px 1500px at center);
  }

  20% {
    clip-path: ellipse(700px 700px at top left);
  }

  50% {
    clip-path: ellipse(250px 250px at bottom right);
    opacity: 1;
  }

  75% {
    clip-path: ellipse(250px 250px at center);
    transform: scale(1);
    opacity: 1;

  }

  100% {
    clip-path: ellipse(250px 250px at center);
    transform: scale(20);
    opacity: 0.5;
  } */
  /* 
  25% {
    transform: scale(1.5);
  }

  50% {
    transform: scale(10);
  }

  75% {
    transform: scale(30);
  }

  100% {
    transform: scale(100);
  } */






}

.loading.hide {
  opacity: 0;
  pointer-events: none;
}

.scroll {
  overflow: hidden;

}

.scroll.hide {
  overflow: visible;
}

@media screen and (min-width:770px) {
  .header_search {
    background-color: #b392b3;
  }

  .header_form {
    width: 30vw;
    margin: 10px 5vw 10px auto;
  }

  .footer_link {
    display: flex;
  }

  .footer_icon {
    width: 64px;
    height: 64px;
    margin: 0 40px;
  }

  .footer_logo_area {
    text-align: center;
  }

  .footer_logo {
    width: 64px;
    height: 64px;
  }

  .link_area {
    width: 40vw;
  }

  .footer_link a {
    width: 16vw;
  }

  .drawer_img {
    left: 95%;
  }

  /* ditail */
  .detail_top {
    padding: initial;
    font-size: min(1vw, 12px);
  }

  .customer_name {
    max-width: 1200px;
    margin: 0 auto;
    padding: min(1vw, 12px) min(1.6vw, 20px);
  }

}