@charset "UTF-8";
.detail_top {
  padding: 10px 16px;
  font-size: 3.2vw;
  color: #7F5539;
  border-bottom: 1px solid #7F5539;
}
@media screen and (min-width:768px) {
  /* ditail */
  .detail_top {
    padding: initial;
    font-size: min(1vw, 12px);
  }
  .customer_name {
    max-width: 1200px;
    margin: 0 auto;
    padding: min(1vw, 12px) min(1.6vw, 20px);
  } 
}