@charset "UTF-8";

main {
  box-sizing: content-box;
}
.customer_inner {
  padding: 0 10.6vw;
}
.customer_logo_box {
  padding: 3.2vw 0 0 3.2vw;
}
.customer_logo {
  display: block;
  width: 16vw;
}
.customer_title {
  text-align: center;
  padding: 10.6vw 0;
  font-size: 5.3vw;
  color: #7F5539;
}
.customer_text {
  padding-bottom: 8px;
  font-size: 3.2vw;
  color: #7F5539;
}
.customer_span {
  padding-left: 2.4vw;
  font-size: 3.2vw;
  color: #BF0000;
}
.costomer_condition {
  padding-bottom: 8px;
  font-size: 2.1vw;
  color: #BF0000;
}
.customer_submit_box {
  display: flex;
  justify-content: center;
}
.customer_submit {
  text-align: center;
  display: block;
  width: 53.3vw;
  height: 12.8vw;
  margin: 5.33vw 0 21.3vw;
  font-size: 4.26vw;
  color: #fff;
  background-color: #7F5539;
}
input[type="text"],
input[type="email"],
input[type="password"] {
  display: block;
  height: 5.3vw;
  margin-bottom: 5.3vw;
  background-color: #fff;
  border: 1px solid #7F5539;
}
.customer_input_text {
  width: 100%;
}
.customer_post_code {
  width: 32vw;
}


/* card-input */
.card_bottom {
  margin-bottom: 20px;
}
.card_month {
  display: flex;
}
.card_label {
  margin-right: 8vw;
  margin-bottom: 20px;
  font-size: 3.2vw;
  color: #7F5539;
}
.customer_text1 {
  padding-left: 2.4vw;
  font-size: 3.2vw;
  color: #7F5539;
}
input[type="radio"] {
  position: relative;
  width: 3.2vw;
  height: 3.2vw;
  margin-right: 4px;
  border: 1px solid #7F5539;
  border-radius: 50%;
  vertical-align: -2px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
input[type="radio"]:checked:before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3.2vw;
  height: 3.2vw;
  border-radius: 50%;
  background: #333333;
  content: '';
}
.input_short {
  width: 16vw;
}
@media screen and (min-width:768px) {
  main {
    max-width: 1200px;
    margin: auto;
  }
  .customer_logo_box {
    padding: min(1.6vw, 20px) 0 0 min(1.6vw);
  }
  .customer_logo {
    width: 80px;
  }
  .customer_title {
    font-size: min(2.6vw, 32px);
    padding: 73px 0 80px;
  }
  .customer_inner {
    width: min(50vw, 600px);
    box-sizing: content-box;
    margin: auto;
    padding: initial;
  }
  .customer_text {
    font-size: min(2vw, 24px);
  }
  .customer_span {
    font-size: min(2vw, 24px);
    padding-left: 13px;
  }
  .costomer_condition {
    font-size: min(1.3vw, 16px);
  }
  input[type="text"],
  input[type="email"],
  input[type="password"] {
    max-height: 31px;
    margin-bottom: min(3.3vw, 40px);
  } .customer_input_text {
    width: min(50vw, 600px);
  }
  .customer_post_code {
    width: min(15.1vw, 182px);
  }
  .customer_submit {
    width: min(25vw, 300px);
    height: min(5vw, 60px);
    margin:40px 0 160px;
    font-size: min(1.6vw, 20px);
  }

  /* card-input */
  .card_input_long {
    width: 100%;
  }
  .card_label {
    margin-right: min(3.3vw, 40px);
    margin-bottom: 20px;
    font-size: 2vw;
  }
  input[type="radio"] {
    width: 20px;
    height: 20px;
    margin-right: 4px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
  }
  input[type="radio"]:checked:before {
    width: 20px;
    height: 20px;
  }
  .customer_text1 {
    padding-left: 2.4vw;
    font-size: 2vw;
  }
  .input_short {
    width: min(15.1vw, 182px);
  }
}