@charset "UTF-8";

main {
  box-sizing: content-box;
  font-family: "Noto Sans JP", sans-serif;
}
.confirm_inner {
  padding: 0 10.6vw;
}
.customer_logo_box {
  padding: 3.2vw 0 0 3.2vw;
}
.customer_logo {
  display: block;
  width: 16vw;
}
.customer_title {
  text-align: center;
  padding: 10.6vw 0;
  font-size: 5.3vw;
  color: #7F5539;
}
.customer_subtitle {
  text-align: center;
  padding-bottom: 5.3vw;
  font-size: 3.2vw;
  color: #7F5539;
}
.confirm-subtitle {
  font-size: 3.2vw;
  color: #7F5539;
}
.confirm_text_box {
  margin: 8px 0 20px;
  padding: 4px;
  font-size: 3.2vw;
  border-left: 1px solid #7F5539;
}
.confirm_submit {
  text-align: center;
  display: block;
  width: 53.3vw;
  height: 12.8vw;
  margin: 10.66vw auto 5vw;
  font-size: 4.26vw;
  color: #fff;
  background-color: #7F5539;
}
.btn-edit {
  display: block;
  margin: 0 auto 10.6vw;
  color: #7F5539;
  border-bottom: 1px solid #7F5539;
}

/* customer_complete */
.customer_complete_box {
  width: 78.6vw;
  height: 22.4vw;
  margin: 0 auto 110.9vw;
  padding: 6.4vw 0; 
  text-align: center;
  font-size: 3.2vw;
  border: 1px solid #E8C2CA;
}
.customer_complete_text {
  padding-bottom: 3.2vw;
  color: #333;
}
.customer_complete_link {
  color: #7F5539;
  border-bottom: 1px solid #7F5539;
}

/* purchase-confirm */
.purchase_inner {
  padding: 0 5.3vw;
}
.purchase_subtitle {
  text-align: center;
  font-size: 3.2vw;
  color: #7F5539;
}
.shipping_address {
  margin: 5.3vw 0;
  padding: min(1.6vw, 20px) 0;
  border-top:1px solid #E8C2CA;border-top:1px solid #E8C2CA;
  border-bottom:1px solid #E8C2CA;
}
.shipping_list {
  display: flex;
  height: 5.3vw;
  margin: 2.1vw 0;
  box-sizing: border-box;
}
table {
  width: 100%;
  margin: 5.3vw auto;
  border-collapse: separate; /* collapseを使わずseparateにする */
  border-spacing: 0 5px;      /* 横方向0px、縦方向10pxのスペース */
  border-top: 1px solid #E8C2CA;
  border-bottom: 1px solid #E8C2CA;
}
.purchase_list_total {
  width: 16vw;
  padding: 1vw 0;
  font-size: 3.2vw;
  font-weight: bold;
  color: #7F5539;
}
.purchase_list_left {
  width: 16vw;
  padding: 1vw 0;
  font-size: 3.2vw;
  color: #7F5539;
}
.purchase_list_left1 {
  width: 18.9vw;
  padding: 0.6vw 0;
  font-size: 3.2vw;
  color: #7F5539;
}
.purchase_list_delete {
  font-size: 3.2vw;
  color: #7F5539;
}
.purchase_list_right {
  padding: 0.6vw 0;
  padding-left: 3.2vw;
  font-size: 3.2vw;
  color: #333;
  border-left:2px solid #E8C2CA;
}
.purchase_list_right1 {
  padding: 1vw 0;
  padding-left: 3.2vw;
  font-size: 3.2vw;
  font-weight: bold;
  color: #333;
  border-left:2px solid #E8C2CA;
}
.confirm_submit1 {
  text-align: center;
  display: flex;
  align-items: center;      /* ← 縦中央揃え */
  justify-content: center;
  width: 53.3vw;
  height: 12.8vw;
  margin: 10.66vw auto 21.3vw;
  font-size: 4.26vw;
  color: #fff;
  background-color: #7F5539;
}

@media screen and (min-width:768px) {
  main {
    max-width: 1200px;
    margin: auto;
  }
  .confirm_inner {
    width: min(25vw, 300px);
    margin: 0 auto; 
    box-sizing: content-box;
  }
  .customer_logo_box {
    padding: min(1.6vw, 20px) 0 0 min(1.6vw);
  }
  .customer_logo {
    width: 80px;
  }
  .customer_title {
    font-size: min(2.6vw, 32px);
    padding: 73px 0 80px;
  }
  .confirm_text_box {
    margin-bottom: 46px;
    padding: 2.39px 0 6px 8px;
    border-left: 2px solid #7F5539;
  }
  .confirm-subtitle,
  .confirm_text_box,
  .btn-edit {
    font-size: min(2vw, 24px);
  }
  .confirm_submit {
    width: min(25vw, 300px);
    height: min(5vw, 60px);
    margin: min(5vw, 60px) auto min(1.6vw, 20px);
    font-size: min(1.66vw, 20px);
  }
  .btn-edit {
    margin-bottom: min(9.16vw, 110px);
  }

  /*customer_complete*/
  .customer_complete_box{
    width: min(50vw, 600px);
    height: min(20.1vw, 242px);
    padding: min(5.8vw, 70px) 0;
    font-size: min(2vw, 24px);
  }
  .customer_complete_text {
    padding-bottom: min(3.2vw, 40px);
    color: #333;
  }
  .customer_complete_link {
    color: #7F5539;
    border-bottom: 1px solid #7F5539;
  }

/* purchase-confirm */
  .purchase_inner {
    font-size: min(2vw, 24px);
  }
  .purchase_subtitle,
  .purchase_list_total,
  .purchase_list_left,
  .purchase_list_left1,
  .purchase_list_right,
  .purchase_list_right1,
  .purchase_list_delete  {
    font-size: min(2vw, 24px);
  }
  .purchase_list_right,
  .purchase_list_right1 {
    padding-left: min(1.6vw, 20px);
  }
  table {
    width: min(60vw, 720px);
    /* height: min(21.1vw, 254px); */
  }
  .shipping_address {
    width: min(60vw, 720px);
    margin: min(10.6vw, 40px) auto;
  }
  .purchase_list_left,
  .purchase_list_left1,
  .purchase_list_total {
    width: min(15vw, 180px);
  }
  .shipping_list {
    height: min(3.1vw, 38px);
    margin: min(0.6vw, 8px) 0;
  }
  .confirm_submit1 {
    width: min(25vw, 300px);
    height: min(5vw, 60px);
    margin: min(6.6vw, 80px) auto min(13.3vw, 160px);
    font-size: min(1.6vw, 20px);
  }
}