@charset "utf-8";

* {
  font-family: Noto Sans JP;
  line-height: 1.6;
  font-size: 4.26vw;
}

main {
  margin-bottom: 80px;
  padding: 0 20px;
}

.main_padding {
  padding-right: 20px;
  padding-left: 30px;
}


/* ///////商品一覧///////// */

.product_h2 {
  font-size: 5.3vw;
  text-align: center;
  margin-top: 104px;
  border-bottom: solid 4px #FFD233;
  width: 30vw;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* //////CCドーナツ/////// */

.photo_donuts {
  width: 42vw;
}

.photo_donuts_pc,
.photo_donuts_pc1 {
  display: none;
}

.syoihin {
  color: #7F5539;
  padding-top: 19.5px;
  margin: 0 auto;
}


.price {
  color: #BF0000;
  padding-top: 22px;
  padding-bottom: 22px;
}

.heart_logo {
  display: block;
  width: 5.3vw;
  padding: 25px 0 20px;
  height: 20%;
}

.flex_price {
  display: flex;
  justify-content: space-between;
}

.submit {
  width: 42vw;
  color: #FFFFFF;
  background-color: #7F5539;
  border: none;
  height: 9.6vw;
  text-align: center;
  font-size: 3.2vw;
}

/* /////////商品一覧grid ///////////*/
.grid_syouhin,
.grid_syouhin1 {
  width: 89.6vw;
  height: 320.56vw;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 106.6vw 106.6vw 106.6vw;
}

.item01 {
  grid-column: 1/2;
  grid-row: 1/2;
}

.item02 {
  grid-column: 2/3;
  grid-row: 1/2;
}

.item03 {
  grid-column: 1/2;
  grid-row: 2/3;
}

.item04 {
  grid-column: 2/3;
  grid-row: 2/3;
}

.item05 {
  grid-column: 1/2;
  grid-row: 3/4;
}

.item06 {
  grid-column: 2/3;
  grid-row: 3/4;
}
.item01,
.item03,
.item05 {
  padding-right: 2.6vw;
}
.item02,
.item04,
.item06 {
  padding-left: 2.6vw;
}
/* ////////バラエティーセット////// */
.h2_2 {
  font-size: 5.3vw;
  text-align: center;
  margin-top: 22vw;
  border-bottom: solid 4px #FFD233;
  width: 60vw;
  margin-bottom: 40px;
  margin-left: auto;
  margin-right: auto;
}

/* /////////////////////////////////////// */
/* /////ブレイクポイント768px////*/
/* /////////////////////////////////////// */

@media screen and (min-width:768px) {
  * {
    font-size: 1.75vw;
  }

  main {
    max-width: 1200px;
    margin-bottom: 160px;
    margin: 0 auto;
    padding: initial;
  }

  .main_padding {
    padding: initial;
  }

  .product_h2 {
    font-size: 2.3vw;
    width: 15vw;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border-bottom: solid 4px #FFD233;
  }

  /* ///////商品一覧/////// */

  /* ///////CCドーナツ当店オリジナル///// */
  img.photo_donuts {
    display: none;
  }

  img.photo_donuts_pc,
  .photo_donuts_pc1 {
    display: block;
    width: min(26.6vw, 320px);
    height: min(26.6vw, 320px);

  }
  .photo_donuts_pc1 {
    margin-top: min(3.3vw, 40px);
  }
  .syoihin {
    margin: 0 auto;
    width: 24vw;
    height: 6.4vw;
  }

  .price {
    font-size: min(2vw, 24px);
    line-height: initial;
  }

  .flex_price {
    width: 23.4vw;
    margin: 0 auto;
  }

  .submit {
    display: block;
    width: 19.5vw;
    text-align: center;
    margin: 0 auto;
    font-size: 1.5vw;
    height: 3.8vw;

  }

  /* ////listサイズ//////// */
  .list {
    width: 23.4vw;
    height: 39vw;
    margin: 0 auto;
  }

  /* ///////////商品一覧grid////////// */
  .section_top {
    margin: 0 auto;
  }
  .grid_syouhin,
  .grid_syouhin1 {
    max-width: 1140px;
    max-height: 1146px;
    display: grid;
    grid-template-columns:min(31.6vw, 380px) min(31.6vw, 380px)  min(31.6vw, 380px) ;
    grid-template-rows: 50% 50%;
    margin: 0 auto;
  }
  .grid_syouhin1 {
    margin-bottom: min(13.3vw, 160px);
  }
  .item01 {
    grid-row: 1/2;
    grid-column: 1/2;
  }

  .item02 {
    grid-row: 1/2;
    grid-column: 2/3;
  }

  .item03 {
    grid-row: 1/2;
    grid-column: 3/4;
  }

  .item04 {
    grid-row: 2/3;
    grid-column: 1/2;
  }

  .item05 {
    grid-row: 2/3;
    grid-column: 2/3;
  }

  .item06 {
    grid-row: 2/3;
    grid-column: 3/4;
  }

  .item01,
  .item02,
  .item03,
  .item04,
  .item05,
  .item06 {
    padding: 0 min(2.5vw, 30px);
  }
  .flex_price {
    width: 100%;
  }
  /* /////////////バラエティーセット////// */
  .h2_2 {
    font-size: 1.75vw;
    width: 18vw;
    border-bottom: solid 4px #FFD233;
    margin-top: 80px;
    margin-bottom: 80px;
  }
  .syoihin {
    width: min(26.6vw, 320px);
    height: initial;
    margin: min(1.6vw, 20px) 0;
    padding: initial;
    font-size: min(2vw, 24px);
  }
  .flex_price {
    height: min(2vw, 24px);
  }
  .heart_logo {
    width: min(2vw, 24px);
    height: 100%;
  }
  .price {
    padding: initial;
  }
  .heart_logo {
    padding: initial;
  }
  .submit {
    width: min(21.6vw, 260px);
    height: min(4.3vw, 52px);
    margin: min(1.6vw, 20px) auto min(3.3vw, 40px);
    color: #FFFFFF;
    background-color: #7F5539;
    border: none;
    text-align: center;
    font-size: min(1.6vw, 20px);
  }
}