@charset "utf-8";


.purchase_sec {
  width: 90vw;
  margin: 0 auto;
}

.purchase_img {
  margin: 10px;
}

.purchase_title {
  text-align: center;
  font-size: 20px;
  color: #7F5539;
  margin: 5px 0;
  padding: 60px;

}

.purchase_linkblock {
  margin: 20px;
  text-align: end;
  margin-bottom: 160px;
}


.purchase_link {
  border-bottom: 1px solid #7F5539;
  width: 200px;
  font-size: 12px;
  margin: 20px 0 20px auto;
  padding-bottom: 5px;
  color: #7F5539;
}

.purchase_text {
  color: #7F5539;
  text-align: center;
  border: #d7d7d7 1px solid;
  height: 228px;
  padding-top: 100px;
}

@media screen and (min-width:760px) {

  .purchase_sec {
    width: 600px;
  }

  .purchase_img {
    margin-left: 3vw;
  }
}